#=================================================
# CONFIGURATION
#=================================================

# MySQL
MYSQL_DATABASE_KEYCLOAK=keycloak
MYSQL_USER_KEYCLOAK=YNH_USER_NAME
MYSQL_PASSWORD_KEYCLOAK=YNH_USER_PASSWORD
MYSQL_ROOT_PASSWORD_KEYCLOAK=YNH_ROOT_PASSWORD

# Keycloak
KEYCLOAK_USER=YNH_USER_NAME
KEYCLOAK_PASSWORD=YNH_USER_PASSWORD