#=================================================
# CONFIGURATION
#=================================================

# PostgreSQL
POSTGRES_DATABASE_KEYCLOAK=keycloak
POSTGRES_USER_KEYCLOAK=YNH_USER_NAME
POSTGRES_PASSWORD_KEYCLOAK=YNH_USER_PASSWORD
POSTGRES_ROOT_PASSWORD_KEYCLOAK=YNH_ROOT_PASSWORD

# Keycloak
KEYCLOAK_USER=YNH_USER_NAME
KEYCLOAK_PASSWORD=YNH_USER_PASSWORD
KEYCLOAK_HOSTNAME_URL=https://YNH_DOMAIN
