#=================================================
# CONFIGURATION
#=================================================

# PostgreSQL
POSTGRES_DATABASE_KEYCLOAK=keycloak
POSTGRES_USER_KEYCLOAK=keycloak
POSTGRES_PASSWORD_KEYCLOAK=YNH_DB_PASSWORD

# Keycloak
KEYCLOAK_USER=YNH_USER_NAME
KEYCLOAK_PASSWORD=YNH_USER_PASSWORD
KEYCLOAK_HOSTNAME_URL=https://YNH_DOMAIN
KEYCLOAK_KEYSTORE_PASSWORD=YNH_KEYCLOAK_KEYSTORE_PASSWORD
