html {
    background-color: rgb(243 244 246);
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
}

.center {
    display: flex;
    justify-content: center;
}

.logo {
    width: 200px;
    max-width: 40%;
}

.card {
    width: 80%;
    max-width: 500px;
    background-color: white;
    margin-top: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
}

.card h1 {
    font-size: 1.5rem;
}

.subtitle {
    font-size: 1.25rem;
}

a:link {
    color: #006966;
}